In [1]:
address = 'TOKYO,JAPAN'
address.sprit(',')

AttributeError: 'str' object has no attribute 'sprit'

In [2]:
address.index('T')

0

In [3]:
address.index('P')

8

In [4]:
address.index('O')

1

In [5]:
address.upper()

'TOKYO,JAPAN'

In [6]:
address.capitalize()

'Tokyo,japan'

In [7]:
address.lower()

'tokyo,japan'

In [8]:
from datetime import *
date_a = date(2008,1,1)
date_b = date(2008,1,5)
result = date_b - date_a
print(result)

4 days, 0:00:00

In [9]:
from datetime import *
date_a = date(2008,1,5)
date_b = date(2006,1,5)
result = date_b - date_a
print(result)

-730 days, 0:00:00

In [10]:
date_a.year

2008

In [11]:
date.today()

datetime.date(2017, 5, 17)

In [12]:
date.weekday()

TypeError: descriptor 'weekday' of 'datetime.date' object needs an argument

In [13]:
birthday = date(2017,5,10)

In [ ]:
today = date,today()

In [ ]:
result = today - birthday

In [14]:
print(result)

-730 days, 0:00:00

In [ ]:
date_c = date(2000,5,5)

In [ ]:
tmp = '2000,5,5'