In [1]:
s=0

s = s + 1
s = s + 2
s = s + 3
s = s + 4
s = s + 5

s

15

In [3]:
a = [1,2,3,4,5]
for p in a:
    print(p)

1
2
3
4
5

リストaの各要素をpと呼び、pをprintする

In [7]:
list_tohoku = [5349,5478,5344,4644,4968,6259]
for val in list_tohoku:
    print(val)

5349
5478
5344
4644
4968
6259

In [8]:
s=0
for x in a:
    s = s + x
    
s

15

In [9]:
a

[1, 2, 3, 4, 5]

In [19]:
s=0


for x in a:
    s = s + x
    
    
s/len(a)

3.0

In [21]:
s=0

for x in a:
    s += x
    
    
s/=len(a)#s = s / len(a)のこと

In [59]:
avg_tohoku = 0.0
for val in list_tohoku:
    avg_tohoku += val

In [60]:
 avg_tohoku /= len(list_tohoku)
     print(avg_tohoku)

IndentationError: unexpected indent (<ipython-input-60-51e0f2bda11f>, line 2)

In [29]:
 (3148+2991+2966+2457) /4

2890.5

In [32]:
list_shikoku = [3148,2991,2966,2457]

s = 0
for p in list_shikoku:
    s += p
    
    
s/len(list_shikoku)

2890.5

In [35]:
from statistics import *

In [36]:
mean(list_shikoku)

2890.5

In [41]:
mean([1,2,3,4,5])

3

In [42]:
dic = {'A':100, 'B':20, 'C':3000}

In [43]:
dic['A']

100

In [44]:
for key in dic:
    print(key)

A
B
C

In [47]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344, 'Yamgata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [48]:
for key in dict_tohoku:
    print(key)

aomori
akita
sendai
Yamgata
fukushima
morioka

In [49]:
for key in dict_tohoku:
    print(dict_tohoku[key])

5349
4644
5344
4968
6259
5478

In [50]:
dict_tohoku = {'aomori': 5349, 'akita': 4644, 'sendai': 5344, 'Yamgata': 4968, 'fukushima': 6259, 'morioka': 5478}

In [53]:
s=0

for x in dict_tohoku:
    print(dict_tohoku[x])
    s += dict_tohoku[x]
    
    
s/len(dict_tohoku)

5349
4644
5344
4968
6259
5478

5340.333333333333

1. [5,4,3,2]の平均
2. {'A':10, 'B':100, 'C':1000}の値の平均
3. (10'A',100'B',1000'C')の平均

In [55]:
a={'A':10, 'B':100, 'C':1000}
s=0

for x in a:
    s += a[x]
    
s/len(a)

370.0

In [57]:
mean(a.values())

370

In [58]:
s=0

for x in a.values():
    s+=x
    
s/len(a)

370.0